@using Afrejd.Web.Components.Layout
@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models

@page "/productlist"
@layout AdminMenu
@rendermode InteractiveServer
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<MudContainer Class="my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Tjänst</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        <button type="button" class="btn btn-dark btn-sm" @onclick="() => EditProduct(product.Id)">Redigera</button>
                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => ShowConfirmationDialog(product)">Radera</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</MudContainer>

@code {
    private List<Product> Products { get; set; } = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetProducts();
    }

    private void EditProduct(int ProductId)
    {
        NavigationManager.NavigateTo($"/EditProduct/{ProductId}");
    }

    private async Task DeleteProduct(Product product)
    {
        await ProductService.DeleteProduct(product.Id);
        Products.Remove(product);
    }

    private async Task ShowConfirmationDialog(Product product)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Är du säker på att du vill radera tjänsten {product.Name}?");
        if (confirmed)
        {
            await DeleteProduct(product);
        }
    }
}
