@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Glömt Lösenordet Bekräftelse</PageTitle>

<MudContainer Class="my-5">
	<h1>Glömt lösenordet bekräftelse</h1>
	<p style="font-size: 1.5em;">
		Var god kolla inkorgen för att återställa lösenordet.
	</p>
</MudContainer>