@page "/Account/ResetPasswordConfirmation"
<PageTitle>Bekräftelse av lösenordsändring</PageTitle>

<MudContainer Style="my-5">
	<h1>Bekräftelse av lösenordsändring</h1>
	<p>
		Ditt lösenord är nu ändrat. <a href="Account/Login">Klicka här för att logga in.</a>.
	</p>

</MudContainer>