@inherits LayoutComponentBase
@layout UserMenu

<h1>Konto</h1>

<div>
    <h2>Ändra användaruppgifter</h2>
    <hr />
    <div class="row">
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
