@page "/Orders"

@using Afrejd.Web.Components.Layout
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Data.Interfaces
@inject IUserService UserService
@rendermode InteractiveServer
@layout UserMenu

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Ärendenummer</th>
            <th>Datum</th>
            <th>Prisförslag</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (userOrders != null)
        {
            @foreach (var order in userOrders)
            {
                <tr>
                    <td>@order.Ordernumber</td>
                    <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.PriceEstimate</td>
                    <td>@order.Status</td>
                </tr>
            }
        }
        else
        {
            <p>Inga ärenden hittades.</p>
        }
    </tbody>
</table>

@code {
    private List<Order> userOrders;
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        userId = await UserService.GetCurrentUserId();
        userOrders = await UserService.GetUserOrders(userId);
    }
}
