@page "/"
@using Afrejd.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>Afrejd</PageTitle>

<article Class="d-flex flex-column align-items-center justify-content-center" Style="background-color: #363732">
    <MudCarousel Class="mud-width-full" Style="height:800px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #dce1e9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                            <h1 class="display-1 mb-n3">
                                Distribution
                            </h1>

                            <MudText>
                                Distribution är ofta den största kostnaden när det gäller dina försändelser. Låt oss hjälpa dig att optimera din distributionsprocess på 
                                bästa möjliga sätt för att spara både tid och pengar. Vi assisterar även svenska varumärken som vill expandera till Europa.
                            </MudText>

                        <MudButton Href="/Distribution" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                                Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock12.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>


        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Rådgivning & Försäljning
                        </h1>

                        <MudText>
                            Medan vissa logistikföretag nöjer sig med att vara den föredragna leverantören för varuförpackning, lagring eller distribution, strävar vi efter 
                            att vara en stark strategisk partner. Vårt mål är att bidra till utveckling, tillväxt och lönsamhet för våra kunder.
                        </MudText>

                        <MudButton Href="/Rådgivning&Försäljning" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock11.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Webbutik & Prenumeration
                        </h1>

                        <MudText>
                            Afrejd har omfattande erfarenhet av onlinebutiker och prenumerationstjänster. 
                            Vi kan hjälpa dig att förbättra din nuvarande webbutik eller prenumerationslösning, eller skapa en helt ny, så att du är väl förberedd för 
                            framtidens e-handel och prenumerationer.
                        </MudText>

                        <MudButton Href="/Webbutik&Prenumeration" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock19.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            IT & Tech
                        </h1>

                        <MudText>
                            Afrejd är ett IT- och logistikföretag med egna tekniska avdelningar som anpassar e-handelslösningar efter dina behov. 
                            Vi erbjuder integrationer med de flesta plattformar, olika beställningssystem och betalningsleverantörer. 
                            Låt oss hjälpa dig med intelligenta lösningar.
                        </MudText>

                        <MudButton Href="/IT&Tech" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock17.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Förpackning av varor
                        </h1>

                        <MudText>
                            Afrejd är en av Nordens största privata aktörer inom varu- och reklamförpackningar för onlinebutiker och detaljhandelskedjor. 
                            Vi tillhandahåller toppmodern utrustning och system som hjälper varumärken att öka lönsamheten och främja tillväxt.
                        </MudText>

                        <MudButton Href="/Förpackning" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock13.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>
    </MudCarousel>

    <ServicesPanel/>

    <MudContainer Style="width: 100%; height: auto; background-color: #363732;" Class="d-flex flex-column my-5">
        <MudPaper Elevation="0" Style="background-color: #363732; color: white;">
            <h1 class="ma-5">
                Afrejd — din teknik- och logistikpartner inom e-handel, varuhantering och reklamförpackningar
            </h1>
            <MudText Class="mx-5 mb-5">
                Vi är mer än ett traditionellt logistikhus; Afrejd är ett toppmodernt och internationellt teknik- och logistikföretag. 
                Vi stödjer varumärken i att skapa lönsamhet och tillväxt, både i Sverige och internationellt, med kontor i Malmö, Stockholm, Göteborg, Umeå och Tyskland.
            </MudText>
        </MudPaper>
    </MudContainer>

    <MudPaper Width="100%" Style="background-color: #66c3ff" Class="d-flex flex-wrap justify-content-center align-items-center gap-5">
        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile2.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">John M.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Afrejd omvandlade helt våra leveranskedjeoperationer. Deras team var professionellt, kunnigt och otroligt lyhört. Vi såg omedelbara förbättringar i effektivitet och kostnadsbesparingar.
                    Rekommenderar starkt deras logistikrådgivningstjänster!"
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile1.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">Sarah K.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Att arbeta med Afrejd var en spelväxlare för vårt företag. Deras expertis i att optimera vårt distributionsnät var uppenbar från början.
                    De tillhandahöll tydliga strategier och praktiska lösningar som har minskat våra fraktkostnader och leveranstider avsevärt. Utmärkt service!"
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile3.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">David L.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Afrejds logistikrådgivning överträffade våra förväntningar. Konsulterna var inte bara experter inom sitt område utan tog sig också tid att förstå våra unika behov.
                    Deras skräddarsydda tillvägagångssätt hjälpte oss att strömlinjeforma våra processer och förbättra den övergripande kundnöjdheten. Vi kunde inte vara nöjdare med resultaten."
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudPaper>
</article>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private Wrap _wrap = Wrap.Wrap;

    private bool _row { get; set; } = true;
}
