@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<article Class="d-flex flex-column align-items-center justify-content-center" Style="background-color: #363732">
    <MudCarousel Class="mud-width-full" Style="height:800px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #dce1e9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                            <h1 class="display-1 mb-n3">
                                Distribution
                            </h1>

                            <MudText>
                                Distribution är ofta den största kostnaden i samband med din försändelse. Låt oss hjälpa dig att optimera din distribution på bästa möjliga sätt, vilket sparar både tid och pengar.
                                Vi hjälper även svenska varumärken som vill flytta vidare till Europa.
                            </MudText>

                        <MudButton Href="/Distribution" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                                Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock12.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>


        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Rådgivning & Försäljning
                        </h1>

                        <MudText>
                            Vissa logistikföretag nöjer sig med att vara den föredragna leverantören av varuförpackning, lagring eller distribution — 
                            vi vill vara en solid strategisk partner som hjälper till att driva utveckling, tillväxt och lönsamhet för våra kunder.
                        </MudText>

                        <MudButton Href="/Rådgivning&Försäljning" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock11.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Webbutik & Prenumeration
                        </h1>

                        <MudText>
                            Afrejd har lång erfarenhet av onlinebutiker och prenumerationslösningar. 
                            Låt oss hjälpa dig att uppgradera din befintliga webbutik eller prenumerationslösning, eller bygga en helt ny så att du är utrustad för morgondagens e-handel och prenumerationer.
                        </MudText>

                        <MudButton Href="/Webbutik&Prenumeration" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock19.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            IT & Tech
                        </h1>

                        <MudText>
                            Afrejd är ett IT- och logistikhus med egna teknikavdelningar som skräddarsyr e-handelslösningar — givetvis med integrationer med de allra flesta plattformar, 
                            olika beställningssystem och betalningsleverantörer. Låt oss hjälpa dig med smarta lösningar.
                        </MudText>

                        <MudButton Href="/IT&Tech" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock17.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <MudPaper Elevation="0" Width="100%" Height="100%" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #DCE1E9;">
                <MudPaper Elevation="3" Outlined="true" Class="mr-md-9 order-2 order-md-1 mb-4 mb-md-0 d-flex align-items-center justify-content-center responsive-width" style="background-color: #DCE1E9;">
                    <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                        <h1 class="display-1 mb-n3">
                            Förpackning av varor
                        </h1>

                        <MudText>
                            Afrejd är en av Nordens största privata aktörer inom området för varor och reklamförpackningar för onlinebutiker och detaljhandelskedjor. 
                            Vi erbjuder toppmodern utrustning och system som hjälper varumärken att driva lönsamhet och tillväxt.
                        </MudText>

                        <MudButton Href="/Förpackning" Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;">
                            Läs mer
                        </MudButton>
                    </MudStack>
                </MudPaper>
                <MudImage Fluid="true" Class="rounded-xl d-flex justify-content-center align-items-center order-1 order-md-2 ml-md-9" Src="/Images/stock13.jpg" Style="max-width:100%; height:auto;"></MudImage>
            </MudPaper>
        </MudCarouselItem>
    </MudCarousel>

    <MudContainer Style="width: 100%; height: auto; background-color: #363732;" Class="d-flex flex-column my-5">
        <MudPaper Elevation="0" Style="background-color: #363732; color: white;">
            <h1 class="ma-5">
                Afrejd — din teknik- och logistikpartner inom e-handel, varuhantering och reklamförpackningar
            </h1>
            <MudText Class="mx-5 mb-5">
                Vi är något mer än ett konventionellt logistikhus: Afrejd är ett toppmodernt och internationellt teknik- och logistikföretag.
                Vi hjälper varumärken att skapa lönsamhet och tillväxt, både i Sverige och utomlands, med kontor i Karlstad, Oslo, Arendal, Sandefjord och Polen.
                Klicka på våra tjänster för att se vårt 360-graders logistikhus i full drift.
            </MudText>
        </MudPaper>

        <MudPaper Elevation="0" Width="100%" Height="auto" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #363732;">

                <MudStack Class="ma-6 text-center align-items-center justify-content-center">
                    <MudText Style="font-size: 2em; color: white;">
                    Vi kan logistikyrket och vet vad som krävs för att driva en lönsam och hållbar butik — här kallar vi det <i>Logistiskglädje.</i>
                    </MudText>

                <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="products-button" Href="/services">
                        Våra tjänster
                    </MudButton>
                </MudStack>

            <MudStack Class="d-flex flex-wrap justify-content-center gap-2 mx-9" Style="width: 100%; max-width: 600px;">
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Rådgivning&Försäljning">Rådgivning & Försäljning</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/IT&Tech">IT & Tech</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Webbutik&Prenumeration">Webbutik & Prenumeration</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Varulager">Varulager</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Förpackning">Förpackning av varor</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Lagerhanterings-system">Lagerhanterings-system</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kundtjänst">Kundtjänst</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Retur">Retur av varor</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kampanjförpackning">Kampanjförpackning</MudButton>
                <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Distribution">Distribution</MudButton>
            </MudStack>
        </MudPaper>
    </MudContainer>

    <MudPaper Width="100%" Style="background-color: #66c3ff" Class="d-flex flex-wrap justify-content-center align-items-center gap-5">
        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile2.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">John M.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Afrejd omvandlade helt våra leveranskedjeoperationer. Deras team var professionellt, kunnigt och otroligt lyhört. Vi såg omedelbara förbättringar i effektivitet och kostnadsbesparingar.
                    Rekommenderar starkt deras logistikrådgivningstjänster!"
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile1.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">Sarah K.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Att arbeta med Afrejd var en spelväxlare för vårt företag. Deras expertis i att optimera vårt distributionsnät var uppenbar från början.
                    De tillhandahöll tydliga strategier och praktiska lösningar som har minskat våra fraktkostnader och leveranstider avsevärt. Utmärkt service!"
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Style="max-width: 500px; height: 430px; background-color: #363732" Class="py-5 my-5 flex-basis-100 flex-md-basis-45 flex-lg-basis-30">
            <MudCardMedia Image="/Images/profile3.jpg" Height="130" Style="border-radius: 100px; width: 130px; margin: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Style="color: white;">David L.</MudText>
                <MudText Typo="Typo.body2" Style="color: white;">
                    "Afrejds logistikrådgivning överträffade våra förväntningar. Konsulterna var inte bara experter inom sitt område utan tog sig också tid att förstå våra unika behov.
                    Deras skräddarsydda tillvägagångssätt hjälpte oss att strömlinjeforma våra processer och förbättra den övergripande kundnöjdheten. Vi kunde inte vara nöjdare med resultaten."
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudPaper>
</article>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private Wrap _wrap = Wrap.Wrap;

    private bool _row { get; set; } = true;
}
