@page "/Om-oss"

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<PageTitle>Om oss</PageTitle>

<article>
	<MudContainer Class="d-flex flex-column">
		<h1 class="display-1">
			Varför Afrejd?
		</h1>

		<MudImage Src="Images/stock20.jpg" Class="mb-5"></MudImage>

		<MudDivider></MudDivider>

		<h3 class="display-6">
			Afrejd sträcker sig bortom traditionella logistiktjänster som förvaring och packning av varor. 
			Vi är ett innovativt och avancerat teknik- och logistikföretag som tar ett 360-graders perspektiv och stödjer varumärken i att skapa lönsamhet och tillväxt, 
			både nationellt och internationellt.
		</h3>

		<MudText Class="mb-5">
			Vi är närvarande internationellt med strategiska baser i flera städer, inklusive Malmö, Stockholm, Göteborg och Umeå.
			Med teknikavdelningar både i Norge och Tyskland ger vi våra kunder betydande konkurrensfördelar.
			Vår specialitet är att göra det komplicerade enkelt och effektivt, vilket vi kallar för verklig logistikglädje.
		</MudText>

		<MudDivider></MudDivider>

		<h1 class="display-1">
			Träffa teamet
		</h1>

		<MudPaper Elevation=0 Class="d-flex flex-column flex-md-row gap-4 justify-content-center mb-5">
			<MudCard Class="my-md-5">
			<MudCardMedia Image="Images/employee1.jpg" Height="400" />
				<MudCardContent>
					<MudText Typo="Typo.h5"><b>Sofia Nilsson</b></MudText>
					<MudText Typo="Typo.h4">Verkställande direktör</MudText>
					<MudText Typo="Typo.body2">sofia.nilsson@afrejd.com</MudText>
					<MudText Typo="Typo.body2">+46 709 87 652</MudText>
				</MudCardContent>
			</MudCard>

			<MudCard Class="my-md-5">
				<MudCardMedia Image="Images/employee2.jpg" Height="400" />
				<MudCardContent>
					<MudText Typo="Typo.h5"><b>Lars Andersson</b></MudText>
					<MudText Typo="Typo.h4">Klientrådgivare</MudText>
					<MudText Typo="Typo.body2">lars.andersson@afrejd.com</MudText>
					<MudText Typo="Typo.body2">+46 611 90 003</MudText>
				</MudCardContent>
			</MudCard>

			<MudCard Class="my-md-5">
				<MudCardMedia Image="Images/employee3.jpg" Height="400" />
				<MudCardContent>
					<MudText Typo="Typo.h5"><b>Maria Santos</b></MudText>
					<MudText Typo="Typo.h4">Klientrådgivare</MudText>
					<MudText Typo="Typo.body2">maria.santos@afrejd.com</MudText>
					<MudText Typo="Typo.body2">+46 522 11 891</MudText>
				</MudCardContent>
			</MudCard>

			<MudCard Class="my-md-5">
				<MudCardMedia Image="Images/employee4.jpg" Height="400" />
				<MudCardContent>
					<MudText Typo="Typo.h5"><b>Erik Johansson</b></MudText>
					<MudText Typo="Typo.h4">Klientrådgivare</MudText>
					<MudText Typo="Typo.body2">erik.johansson@afrejd.com</MudText>
					<MudText Typo="Typo.body2">+46 202 78 144</MudText>
				</MudCardContent>
			</MudCard>
		</MudPaper>

		<MudDivider></MudDivider>

		<MudPaper Class="d-flex flex-column flex-md-row mb-3 justify-content-center">
			<div class="ma-3" Style="max-width: 600px">
				<h3 class="display-6">
					Har du funderingar?
				</h3>
				<MudText>
					Med vår personal, som har gedigen erfarenhet, står vi redo att bistå dig med alla dina logistiska utmaningar. 
					Har du frågor om oss och vårt utbud av tjänster? Tveka inte att höra av dig idag för att inleda en givande diskussion om möjligheter till ökad lönsamhet.
				</MudText>
			</div>

			<MudForm @ref="form" Class="ma-5" Style="min-width: 400px">
				<MudTextField T="string" Label="Namn" />
				<MudTextField T="string" Label="Email" />
				<MudTextField T="string" Label="Meddelande" Variant="Variant.Outlined" Lines="5" />
				<MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" Class="my-2">
					Skicka
				</MudButton>
			</MudForm>
		</MudPaper>
	</MudContainer>
</article>

@code {
	MudForm form;
}
