@page "/Tjänster"

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Afrejd.Web.Data.Models

<PageTitle>Tjänster</PageTitle>

<div class="video-background">
	<video autoplay loop muted>
		<source src="/Images/stockvideo1.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	<div class="text-content">
		<h1>Våra tjänster</h1>
		<p>Upptäck Afrejd — ett teknik- och logistikföretag som stödjer dig i att uppnå lönsamhet, tillväxt och hållbara lösningar. 
			Vi förenklar och effektiviserar komplexa processer och levererar heltäckande, smidig logistikglädje för våra kunder.</p>
	</div>
</div>

<article class="pa-5 my-5">
	<div id="serviceList" class="list-container">
		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center">
				<img src="/Images/stock1.jpg" class="service-image" />
				<div class="service-content">
					<h2>Rådgivning & Försäljning</h2>
					<p style="margin-left: 2em;">
						Medan vissa logistikföretag nöjer sig med att vara den föredragna leverantören för varuförpackning, lagring eller distribution, strävar vi efter
						att vara en stark strategisk partner. Vårt mål är att bidra till utveckling, tillväxt och lönsamhet för våra kunder.
					</p>
					<button class="btn">
						<NavLink href="/Rådgivning&Försäljning" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center my-5">
				<img src="/Images/stock2.jpg" class="service-image" />
				<div class="service-content">
					<h2>Varulager</h2>
					<p style="margin-left: 2em;">
						Genom att välja oss som din 3PL-partner kan du dra nytta av betydande besparingar på lagerutrymme, system, maskiner, personal och transportkostnader. 
						Afrejd är ett komplett logistikföretag som erbjuder alla tjänster du behöver på ett och samma ställe.
					</p>
					<button class="btn">
						<NavLink href="/Varulager" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center">
				<img src="/Images/stock3.jpg" class="service-image" />
				<div class="service-content">
					<h2>IT & Tech</h2>
					<p style="margin-left: 2em;">
						Afrejd är ett IT- och logistikföretag med egna tekniska avdelningar som anpassar e-handelslösningar efter dina behov.
						Vi erbjuder integrationer med de flesta plattformar, olika beställningssystem och betalningsleverantörer.
						Låt oss hjälpa dig med intelligenta lösningar.
					</p>
					<button class="btn">
						<NavLink href="/IT&Tech" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center my-5">
				<img src="/Images/stock4.jpg" class="service-image" />
				<div class="service-content">
					<h2>Webbutik och prenumeration</h2>
					<p style="margin-left: 2em;">
						Afrejd har omfattande erfarenhet av onlinebutiker och prenumerationstjänster.
						Vi kan hjälpa dig att förbättra din nuvarande webbutik eller prenumerationslösning, eller skapa en helt ny, så att du är väl förberedd för
						framtidens e-handel och prenumerationer.
					</p>
					<button class="btn">
						<NavLink href="/Webbutik&Prenumeration" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center">
				<img src="/Images/stock5.jpg" class="service-image" />
				<div class="service-content">
					<h2>Förpackning av varor</h2>
					<p style="margin-left: 2em;">
						Afrejd är en av Nordens största privata aktörer inom varu- och reklamförpackningar för onlinebutiker och detaljhandelskedjor.
						Vi tillhandahåller toppmodern utrustning och system som hjälper varumärken att öka lönsamheten och främja tillväxt.
					</p>
					<button class="btn">
						<NavLink href="/Förpackning" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center my-5">
				<img src="/Images/stock6.jpg" class="service-image" />
				<div class="service-content">
					<h2>Lagerhanterings-system</h2>
					<p style="margin-left: 2em;">
						Ett effektivt lagerhanteringssystem är avgörande för att säkerställa smidig drift och främja lönsamhet och tillväxt. 
						Vi är övertygade om att vi erbjuder det främsta systemet i inte bara Norden, utan möjligen i hela Europa. 
						Vårt system är skräddarsytt för att uppfylla dina specifika logistikkriterier och behov.
					</p>
					<button class="btn">
						<NavLink href="/Lagerhanterings-system" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center">
				<img src="/Images/stock7.jpeg" class="service-image" />
				<div class="service-content">
					<h2>Kundtjänst</h2>
					<p style="margin-left: 2em;">
						Att tillhandahålla kundservice är en resurskrävande uppgift som kräver välutvecklade system. 
						Med våra kundserviceexperter kan du överlåta den här uppgiften och istället fokusera din tid på att skapa ännu större lönsamhet och tillväxt 
						för ditt företag.
					</p>
					<button class="btn">
						<NavLink href="/Kundtjänst" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center my-5">
				<img src="/Images/stock8.jpg" class="service-image" />
				<div class="service-content">
					<h2>Retur av varor</h2>
					<p style="margin-left: 2em;">
						För att uppnå både kundnöjdhet och tillväxt i din butik är det avgörande att hantera returer smidigt och flexibelt. 
						Ett effektivt retursystem kan öka intäkterna, minska kostnaderna och skapa glada kunder. 
						Vårt lagerhanteringssystem är utformat specifikt för att hantera denna uppgift på bästa möjliga sätt.
					</p>
					<button class="btn">
						<NavLink href="/Retur" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center">
				<img src="/Images/stock9.jpg" class="service-image" />
				<div class="service-content">
					<h2>Kampanjförpackning</h2>
					<p style="margin-left: 2em;">
						Vi erbjuder en avancerad maskinpark som är skräddarsydd för att möta de behov och krav som marknaden ställer. 
						Vår expertis sträcker sig från produktion av kuvert, broschyrer och vykort till genomförande av marknadsundersökningar och avancerade 
						direktmarknadsföringskampanjer.
					</p>
					<button class="btn">
						<NavLink href="/Kampanjförpackning" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>

		<div class="list-item">
			<div class="d-flex flex-column flex-md-row align-items-center my-5">
				<img src="/Images/stock10.jpg" class="service-image" />
				<div class="service-content">
					<h2>Distribution</h2>
					<p style="margin-left: 2em;">
						Distribution är ofta den största kostnaden när det gäller dina försändelser. Låt oss hjälpa dig att optimera din distributionsprocess på
						bästa möjliga sätt för att spara både tid och pengar. Vi assisterar även svenska varumärken som vill expandera till Europa.
					</p>
					<button class="btn">
						<NavLink href="/Distribution" class="nav-link">
							<span style="text-decoration: none; color: white;">Läs mer</span>
						</NavLink>
					</button>
				</div>
			</div>
		</div>
	</div>
</article>

@code {

}
