@page "/test"

<h3>test</h3>

<head>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>

<MudButton Variant="Variant.Filled" Color="Color.Primary">
    Test MudBlazor Button
</MudButton>

<button>This is button</button>

@code {

}
