@inherits LayoutComponentBase
@using Components.Layout

<NavMenu />



<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <div class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <box-icon name='briefcase-alt' color='#363732' class="align-middle"></box-icon> Tjänster
                    </button>
                    <div class="collapse" aria-labelledby="navbarDropdownMenuLink" id="dropdown">
                        <NavLink class="nav-link" href="/productlist">Visa Tjänster</NavLink>
                        <NavLink class="nav-link" href="/AdminNewProduct">Lägg till Tjänst</NavLink>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <box-icon name='cabinet' color='#363732' class="align-middle"></box-icon> Ärenden
                    </button>
                    <div class="collapse" aria-labelledby="navbarDropdownMenuLink" id="dropdown2">
                        <NavLink class="nav-link" href="/ViewOrders">Visa Ärenden</NavLink>
                        <NavLink class="nav-link" href="/ConfirmedOrders">Bekräftade Ärenden</NavLink>
                        <NavLink class="nav-link" href="/DeclinedOrders">Avslagna Ärenden</NavLink>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown3" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <box-icon name='contact' type='solid' color='#363732' class="align-middle"></box-icon> Kunder
                    </button>
                    <div class="collapse" aria-labelledby="navbarDropdownMenuLink" id="dropdown3">
                        <NavLink class="nav-link" href="/Clients">Visa Kunder</NavLink>
                        <NavLink class="nav-link" href="/ClientInvoices">Fakturor</NavLink>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" style="background-color: lightgray;">
            @Body
        </div>
    </div>
</div>

<footer class="footer text-center text-lg-start text-white" style="background-color: #363732">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Afrejd
                    </h6>
                    <p>
                        Hos Afrejd hittar du professionella konsulter med en gedigen erfarenhet inom logistikbranschen. <br />
                        Som oberoende specialister arbetar vi analytiskt och målmedvetet tillsammans med dig.
                    </p>
                </div>

                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Kontakta oss</h6>
                    <p><box-icon name='buildings' color='#66c3ff' class="align-middle"></box-icon> Sverigevägen 1, Ort 123 45</p>
                    <p><box-icon name='envelope' color='#66c3ff' class="align-middle"></box-icon> hello@afrejd.com</p>
                    <p><box-icon name='phone-call' color='#66c3ff' class="align-middle"></box-icon> +46 123 45 67 89</p>
                </div>
            </div>
        </section>

        <hr class="my-4">

        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                        Utvecklat av Kleopatra Kairaityte
                    </div>
                </div>

                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <a class="btn btn-outline-light btn-floating m-1" role="button">
                        <box-icon name='facebook-square' type='logo' color='#66c3ff' size="md" class="align-middle"></box-icon>
                    </a>

                    <a class="btn btn-outline-light btn-floating m-1" role="button">
                        <box-icon name='linkedin-square' type='logo' color='#66c3ff' size="md" class="align-middle"></box-icon>
                    </a>

                    <a class="btn btn-outline-light btn-floating m-1">
                        <box-icon name='instagram-alt' type='logo' flip='vertical' color='#66c3ff' size="md" class="align-middle"></box-icon>
                    </a>
                </div>
            </div>
        </section>
    </div>
</footer>


@code {

}
