@inherits LayoutComponentBase
@using Components.Layout

<MudPaper Elevation="0" Width="100%" Height="auto" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #66c3ff;">
	<div class="container">
		<div class="d-flex flex-column flex-md-row gap-4">
			<div class="col-sm">
				<MudStack Class="ma-6 text-center align-items-center justify-content-center">
					<h3>
						Vi kan logistikyrket och vet vad som krävs för att driva en lönsam och hållbar butik — här kallar vi det <i>Logistiskglädje.</i>
					</h3>

					<a Class="btn btn-dark" Href="/Tjänster">
						Våra tjänster
					</a>
				</MudStack>
			</div>
			<div class="col-sm">
				<MudStack Class="d-flex justify-content-center gap-2">
					<a Class="btn btn-dark" Href="/Rådgivning&Försäljning">Rådgivning & Försäljning</a>
					<a Class="btn btn-dark" Href="/IT&Tech">IT & Tech</a>
					<a Class="btn btn-dark" Href="/Webbutik&Prenumeration">Webbutik & Prenumeration</a>
					<a Class="btn btn-dark" Href="/Varulager">Varulager</a>
					<a Class="btn btn-dark" Href="/Förpackning">Förpackning av varor</a>
				</MudStack>
			</div>
			<div class="col-sm">
				<MudStack Class="d-flex justify-content-center gap-2">
					<a Class="btn btn-dark" Href="/Lagerhanterings-system">Lagerhanterings-system</a>
					<a Class="btn btn-dark" Href="/Kundtjänst">Kundtjänst</a>
					<a Class="btn btn-dark" Href="/Retur">Retur av varor</a>
					<a Class="btn btn-dark" Href="/Kampanjförpackning">Kampanjförpackning</a>
					<a Class="btn btn-dark" Href="/Distribution">Distribution</a>
				</MudStack>
			</div>
		</div>
	</div>
</MudPaper>