@page "/Distribution"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@inject ICartService CartService
@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="Services.razor.css" />
</head>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Distribution
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock12.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Distribution är ofta den största kostnaden i samband med ett utskick. Vårt logistikhus är mycket konkurrenskraftigt på porto och transport för de flesta uppdrag, både hemma och utomlands. 
                    Vår erfarenhet är att det finns betydande belopp att spara genom att låta en av våra rådgivare optimera och sänka dina transport- och portokostnader.
                </MudText>

                <h3>Spara pengar med dina egna erbjudanden</h3>
                <MudText Class="mb-6">
                    Som kund hos Afrejd får du tillgång till ett transportnät som är unikt i vår bransch. Med våra porto- och fraktavtal kan det finnas stora pengar att spara för dig som kund. 
                    Vår erfarenhet är att de flesta kunder får betydande kampanjbesparingar genom avtal med oss.
                </MudText>

                <h3>Tullklarering av varor</h3>
                <MudText Class="mb-6">
                    Vi har lång erfarenhet och bred kompetens inom hantering och tullklarering av export- och importförsändelser för produkter in och ut ur Sverige. 
                    Det är viktigt att ha kontroll över alla skatter när produkter beställs och skickas till och från utlandet. 
                    I de allra flesta fall måste produkter som beställts från utlandet tullklareras. Vi erbjuder därför tjänsten Afrejd Hub, som är vårt tullager och ger dig många fördelar och en bättre ekonomisk överblick. 
                    Vi erbjuder även rådgivning och konsulttjänster vid tullklarering av varor.
                </MudText>

                <h3>Kort väg ut till EU med Afrejd</h3>
                <MudText Class="mb-6">
                    Afrejd har etablerat sig med en separat logistikhus i Karlstad. Detta är ett viktigt steg framåt i Europeiska unionen. 
                    Med etableringen av logistikhuset i Karlstad gör vi det möjligt för nya och befintliga kunder att skala sin verksamhet i Europa. 
                    Med det tredje logistikhuset på plats är vägen betydligt kortare för svenska varumärken och onlinebutiker till en ännu större marknad i EU.
                </MudText>

                <MudText Class="mb-4">
                    Med tullager i både Norge och Sverige flyter varuflödet smidigt in och ut ur EU, och gemensamma datorsystem säkerställer full kontroll över varulager. 
                    Våra tullexperter har djup kunskap om tillämpliga lagar och regler för import och export, vilket säkerställer full kontroll genom hela värdekedjan. 
                    Med goda distributionspriser i Norge, Sverige, EU och resten av världen har vägen till den internationella marknaden blivit ännu kortare för svenska aktörer.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <MudPaper Elevation="0" Width="100%" Height="auto" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #363732;">

        <MudStack Class="ma-6 text-center align-items-center justify-content-center">
            <MudText Style="font-size: 2em; color: white;">
                Vi kan hjälpa dig med alla aspekter av logistik.
            </MudText>

            <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="products-button">
                Våra tjänster
            </MudButton>
        </MudStack>

        <MudStack Class="d-flex flex-wrap justify-content-center gap-2" Style="width: 100%; max-width: 600px;">
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Rådgivning&Försäljning">Rådgivning & Försäljning</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/IT&Tech">IT & Tech</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Webbutik&Prenumeration">Webbutik & Prenumeration</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Varulager">Varulager</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Förpackning">Förpackning av varor</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Lagerhanterings-system">Lagerhanterings-system</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kundtjänst">Kundtjänst</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Retur">Retur av varor</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kampanjförpackning">Kampanjförpackning</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Distribution">Distribution</MudButton>
        </MudStack>
    </MudPaper>
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 14;

    private async Task AddItemToCart()
    {
        try
        {
            var userId = await CartService.GetUserId();
            await CartService.AddItemToCart(ProductId, userId);
            SuccessMessage = "Tjänsten har lagts till i varukorgen!";
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}