::deep .product-buttons {
    outline: solid;
    color: #66c3ff;
    font-weight: bold;
    padding: 20px;
    flex: 1 1 calc(50% - 8px);
}

::deep .products-button {
    background-color: #66c3ff;
    color: #363732;
    width: fit-content;
    font-weight: bold;
}

    ::deep .products-button:hover {
        background-color: #66c3ff;
    }

.display-1 {
    font-size: 10em;
    font-weight: 500;
}

@media (max-width: 991.98px) {
    .display-1 {
        font-size: 5em;
        font-weight: 400;
    }
}
