@page "/Distribution"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Distribution</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Distribution
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock12.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Distributionskostnader kan ofta vara den största utgiften när det gäller att skicka ut försändelser. 
                    Vårt logistikföretag har konkurrenskraftiga priser på porto och transport, både nationellt och internationellt. 
                    Genom att låta en av våra rådgivare optimera och sänka dina transport- och portokostnader kan du spara betydande belopp.
                </MudText>

                <h3>Spara pengar med dina egna erbjudanden</h3>
                <MudText Class="mb-6">
                    När du är kund hos Afrejd får du tillgång till ett unikt transportnät inom vår bransch. 
                    Genom våra porto- och fraktavtal kan du som kund spara stora pengar. Många av våra kunder upplever betydande besparingar genom att ha avtal med oss.
                </MudText>

                <h3>Tullklarering av varor</h3>
                <MudText Class="mb-6">
                    Vi har omfattande erfarenhet och kompetens när det gäller tullklarering av export- och importförsändelser i Sverige. 
                    Att ha kontroll över skatterna vid internationell handel är avgörande. De flesta produkter som importeras och exporteras måste tullklareras, 
                    och vi erbjuder tjänsten Afrejd Hub för att underlätta processen och ge dig bättre ekonomisk överblick. Vi tillhandahåller också rådgivning och 
                    konsulttjänster för tullklarering av varor.
                </MudText>

                <h3>Kort väg ut till EU med Afrejd</h3>
                <MudText Class="mb-6">
                    Afrejd har etablerat ett separat logistikhus i Stockholm för att underlätta affärer inom Europeiska unionen. 
                    Detta möjliggör för nya och befintliga kunder att expandera sin verksamhet i Europa. Med det nya logistikhuset blir det betydligt enklare för 
                    svenska varumärken och onlinebutiker att nå en större marknad i EU.
                </MudText>

                <MudText Class="mb-4">
                    Med tullager i både Norge och Sverige och gemensamma datorsystem kan vi säkerställa smidigt varuflöde in och ut ur EU. 
                    Våra tullexperter har djup kunskap om gällande lagar och regler för import och export, vilket säkerställer fullständig kontroll över hela värdekedjan. 
                    Med förmånliga distributionspriser inom Norge, Sverige, EU och globalt blir vägen till den internationella marknaden kortare för svenska företag.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>

@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 14;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Ett fel uppstod när produkten skulle läggas till i varukorgen: {ex.Message}";
        }
    }
}