@page "/Förpackning"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Förpackning av varor</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Förpackning av varor
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock13.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Vi är en ledande aktör inom förpackning och leverans för onlinebutiker och detaljhandelskedjor i Norden. 
                    Med våra tre stora logistikhus i Stockholm, Göteborg och Malmö samt vår teknikplattform kan vi hjälpa svenska varumärken att expandera sina transporter 
                    både inom och utanför Sverige, vilket ger tillgång till en bredare marknad i EU. Vår omfattande erfarenhet gör oss till en pålitlig partner för 
                    förpackning, porto, cross-docking och kostnadsoptimering.
                </MudText>

                <h3>Undvik dyra förseningar</h3>
                <MudText Class="mb-6">
                    För att undvika dyra förseningar ser våra medarbetare till att förpackningarna uppfyller mottagarens krav, oavsett om det är för den norska marknaden 
                    eller internationell leverans. Genom att göra detta undviker du förseningar och extra kostnader. Vi kan även ta emot stora leveranser direkt från 
                    tryckerier eller varutillverkare för eventuell ompackning enligt svenska eller utländska normer och krav.
                </MudText>

                <h3>Automation och maskinförpackning</h3>
                <MudText Class="mb-6">
                    Vi erbjuder olika mekaniska förpackningsmaskiner för att automatisera så mycket som möjligt. 
                    Våra avancerade maskiner ger dig alternativ för selektiv och intelligent förpackning, vilket minimerar både tid och kostnader. 
                    Miljövänliga förpackningsmaterial som plast skyddar och profilerar försändelser i posten samtidigt som de säkerställer låga portokostnader. 
                    Vi hanterar en mängd olika försändelser, från tidskrifter till DM-kampanjer, och använder naturligtvis miljövänliga material.
                </MudText>

                <h3>Manuell varuförpackning</h3>
                <MudText Class="mb-6">
                    Inte alla uppgifter kan eller bör automatiseras, därför utför våra medarbetare manuell förpackning för de uppdrag där det är mer lämpligt. 
                    Vår manuella förpackningslinje är effektiv och garanterar en smidig leverans. I vissa fall är manuell förpackning mer kostnadseffektiv och hållbar än 
                    automatisering, beroende på produktens egenskaper och krav. Vi förespråkar inte enbart automatisering utan anpassar våra metoder efter dina specifika 
                    behov och förutsättningar.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 9;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}