@page "/Kampanjförpackning"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Kampanjförpackning</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Kampanj <br />
                        förpackning
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock14.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Vårt omfattande utbud av tjänster sträcker sig från digitaltryck och adressering till omslagning, reklamförpackningar, varuhosting, reklamlogistik och 
                    distribution, vilket möjliggör skräddarsydda, säkra och effektiva kampanj- och logistiklösningar för ditt företag.
                </MudText>

                <MudText Class="mb-6">
                    Vi erbjuder en rad tjänster inklusive ompackning, distribution, montering av flerelementkampanjer och mellanlagring, alla anpassade efter dina specifika 
                    behov. Vår toppmoderna maskinpark med automatiserade processer säkerställer effektivitet och kostnadseffektivitet, vilket sparar både tid och pengar.
                </MudText>

                <h3>Utskrift och omslagning</h3>
                <MudText Class="mb-6">
                    Vi har en avdelning specialiserad på digitaltryck, omslagning och efterbehandling med maskiner anpassade till marknadens behov. 
                    Vi anpassar oss efter din beställning för att ge dig den mest optimala och kostnadseffektiva lösningen.
                </MudText>

                <h3>Anpassning på ett enkelt sätt</h3>
                <MudText Class="mb-6">
                    Vi använder lasertryck för adressering av olika material som brevblad, fakturor och kampanjer för att ge hög utskriftskvalitet och möjligheter till 
                    individualisering av information. Vår bläckstråleteknik används för snabba och prisvärda utskrifter av kuvert, broschyrer, vykort och plastförpackningar.
                </MudText>

                <h3>Digitaltryck ger stora möjligheter</h3>
                <MudText Class="mb-6">
                    Vi erbjuder digitaltryck för en mängd olika produkter inklusive marknadsundersökningar, etiketter, fakturor, broschyrer och avancerade DM-kampanjer. 
                    Digitaltryck ger dig möjlighet till individualisering till låg kostnad och snabb leverans.
                </MudText>

                <h3>Flexibla omslutningslösningar</h3>
                <MudText Class="mb-6">
                    Med maskiner som kan hantera både svart och färg kan vi omsluta allt från C6 till C4. Vår avancerade programvara möjliggör sammanslagning av variabler i 
                    bokstäverna och ger stora möjligheter för våra kunder att hitta den bästa och mest lönsamma lösningen för omslutningar.
                </MudText>

                <MudText Class="mb-6">
                    Vi har lång erfarenhet inom adressering, lasertryck, digitaltryck och kuvert samt allmänna varor och reklamförpackningar. 
                    Kontakta oss tidigt i processen så att vi kan optimera ditt arbete och hjälpa dig att uppnå betydande ekonomiska besparingar för ditt företag.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 13;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}