@page "/Kundtjänst"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Kundtjänst</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Kundtjänst
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock15.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Att ha en effektiv och professionell kundtjänst är avgörande för att behålla och locka kunder till ditt företag. 
                    Varumärken investerar mycket tid och resurser för att locka kunder, och det är lika viktigt att ha resurserna för att bibehålla dem.
                </MudText>

                <MudText Class="mb-6">
                    Om du driver ett mindre eller medelstort företag kan det vara utmanande att hantera kundförfrågningar samtidigt som du fokuserar på tillväxt och utveckling. 
                    Att outsourca din kundtjänst kan vara ett smart sätt att frigöra tid och resurser för att driva din verksamhet framåt.
                </MudText>

                <h3>Outsourca din kundtjänst</h3>
                <MudText Class="mb-6">
                    På Afrejd erbjuder vi en professionell kundtjänstlösning där erfarna medarbetare tar hand om dina kunders behov med omsorg och precision. 
                    Vi förstår vikten av att upprätthålla en stark relation med dina kunder och arbetar aktivt för att säkerställa deras tillfredsställelse.
                </MudText>

                <MudText Class="mb-6">
                    Vi tillhandahåller avancerade telefonilösningar med intelligent köhantering och övervakning för att säkerställa en smidig och effektiv kundinteraktion. 
                    Våra kundchefer integreras sömlöst i din företagskultur och strävar efter att upprätthålla och förbättra varje kunds upplevelse.
                </MudText>

                <MudText Class="mb-6">
                    Genom att outsourca din kundtjänst till oss kan du fokusera på att driva din verksamhet framåt medan vi tar hand om dina kunders behov på ett 
                    professionellt och effektivt sätt. 
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 11;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}