@page "/Lagerhanterings-system"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Lagerhanterings-system</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Lagerhanterings-system
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock22.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <h3>
                    Att ha kontroll över ditt lager är avgörande för en effektiv verksamhet. Vårt Warehouse Management System (WMS) är utformat för att ge dig den kontrollen 
                    och effektiviteten du behöver för att driva din verksamhet framåt.
                </h3>

                <MudText Class="mb-6">
                    Vi på Afrejd använder det ledande svenska WMS-tjänsten, Ongoing Warehouse, för att tillhandahålla våra kunder med pålitliga och effektiva logistiklösningar. 
                    Vår WMS är speciellt utformad för att möta behoven hos varuhotell, lagersystem och återförsäljare med höga krav på logistikhantering.
                </MudText>

                <MudText Class="mb-6">
                    Vi fokuserar på att skapa skräddarsydda lösningar som passar dina specifika behov. Genom att integrera Ongoing Warehouse med vår egen teknikavdelning 
                    kan vi utveckla anpassade dashboards där du kan följa flödet av varor och beställningar i realtid, från order till leverans.
                </MudText>

                <h3 class="my-5">Hur Fungerar Ongoing Warehouse Hos Afrejd?</h3>
                <ul style="list-style-type: circle;">
                    <li>
                        <MudText Class="mb-4">Dina varor anländer till vårt lager och registreras i systemet för snabb åtkomst och översikt.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Inköpsorder registreras i systemet för optimal hantering av varor.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Varorna placeras i vårt lager och är tillgängliga i realtid i det molnbaserade systemet.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">När dina kunder gör ett köp integreras orderinformationen direkt med systemet för omedelbar bearbetning.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Vi hanterar plockning, packning och förberedelse för leverans med fullständig översikt över status.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Följ sändningens status från lager till mottagarens dörrsteg.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Vi hanterar returer och återintegrerar varor för vidare försäljning.</MudText>
                    </li>
                </ul>

                <h3>Fördelarna Med Vårt WMS</h3>
                <ul style="list-style-type: circle;">
                    <li>
                        <MudText Class="mb-4">Effektivare hantering av varor och lägre kostnader.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Fullständig översikt över lagret och inventering.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Ökad produktivitet och förbättrad kundservice.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Bättre utnyttjande av lagerutrymme och automatiserad utrustning.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">Minskad risk för fel och färre reklamationer.</MudText>
                    </li>
                    <li>
                        <MudText Class="mb-4">100% implementering i din befintliga webbutik för en smidig övergång.</MudText>
                    </li>
                </ul>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 10;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}