@page "/Rådgivning&Försäljning"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Rådgivning & Försäljning</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Rådgivning &
                        <br />
                        Försäljning
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock11.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <h3>Optimera Din Verksamhet Med En Pålitlig Logistikpartner</h3>
                <MudText Class="mb-6">
                    För att uppnå framgång och ekonomisk hållbarhet är det avgörande att ha en logistikpartner som kan erbjuda en komplett infrastruktur samt ge kvalificerade 
                    råd och vägledning. På Afrejd har vi lång erfarenhet av att stödja e-handelsföretag, detaljhandelskedjor och andra företag med logistikbehov, och vi 
                    strävar efter att vara mer än bara en leverantör av logistiktjänster — vi vill vara din strategiska partner som bidrar till din tillväxt och lönsamhet.
                </MudText>

                <MudText Class="mb-6">
                Vi på Afrejd är flexibla och anpassningsbara för att möta olika affärsmodeller och behov. Vi strävar efter att erbjuda bästa möjliga service, rådgivning 
                och IT-lösningar för att hjälpa dig att driva utveckling och tillväxt i din verksamhet. Genom att inleda ett strategiskt partnerskap med oss kan du 
                effektivisera ditt varuflöde och öka din lönsamhet utan att behöva göra stora investeringar. Vi har en långsiktig syn på våra samarbeten och erbjuder 
                därför inga startkostnader för att komma igång.
                </MudText>

                <h3>Få Fördelar Av Stordrift</h3>
                <MudText Class="mb-6">
                Genom att outsourca lagerhantering, logistik och reklamförpackningar till en 3PL-partner som Afrejd kan din organisation dra nytta av stordriftsfördelar. 
                Kostnader relaterade till system, lagerutrymme, porto, frakt och personal kan delas och fördelas mellan flera företag med liknande behov. Detta minskar inte 
                bara dina egna arbetsinsatser för lagring och logistik utan även dina totala kostnader eftersom de delas med andra.
                </MudText>

                <h3>Enkel och Förutsägbar Kostnadsbild</h3>
                <MudText Class="mb-6">
                Afrejd erbjuder en konkurrenskraftig kostnadsmodell som är enkel och förutsägbar för våra kunder. Vi strävar efter att ge dig full insyn i dina kostnader, 
                intäkter och utgifter oavsett din företagsstorlek eller volym. För att öka förutsägbarheten har vi fasta priser på olika tjänster som inkluderar all hantering,
                förpackning och returhantering. Dessutom erbjuder vi förmånliga frakt- och portoerbjudanden som kan resultera i betydande kostnadsbesparingar för din 
                organisation.
                </MudText>

                <MudText Class="fst-italic mb-6">
                Vi strävar alltid efter att göra det enkelt, effektivt och lönsamt för dig att samarbeta med oss som din pålitliga logistikpartner. Hos oss kallar vi det äkta 
                logistikglädje.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 4;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}
