@page "/IT&Tech"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@inject ICartService CartService
@rendermode InteractiveServer

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        IT & Tech
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock17.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Med sin egen IT-avdelning har Afrejd en stor fördel när det gäller att kunna skräddarsy IT-lösningar efter varje kunds behov. 
                    Vi levererar hela värdekedjan — från IT-rådgivning, etablering och drift av en webbutik, integrationer av olika beställnings- och betalningslösningar, till affärssystem för redovisning och lagerhantering.
                </MudText>

                <h3>Anpassad kundwebb från Afrejd</h3>
                <MudText Class="mb-6">
                    Du kan ta ett urval av vad vi erbjuder eller låta oss ta hand om hela värdekedjan. Vi utvecklar och anpassar oss dagligen efter olika kunders önskemål. 
                    Det enda du som kund behöver göra är att skicka varorna till oss. Vi gör resten. Med Sveriges, och kanske Europas, mäktigaste prenumerationssystem, 
                    integrerat mot de allra flesta stora e-handelsplattformar, kan vi göra speciella anpassningar till kundens redan befintliga system.
                    Vi anpassar instrumentpanelen för varje kund, så att du alltid kan se vad du behöver och vill se. 
                    Allt från order och orderstatus, till lager och finansiella transaktioner, har en tvåvägskommunikation mellan vårt system och kundens system. 
                    Eftersom vi inte bara tillhandahåller det fysiska runt lagerhållning och logistik, men också IT-lösningar, är det enkelt och effektivt att byta till oss. 
                    Vi ger dig ett bra tydligt webbgränssnitt som är tillgängligt överallt.
                </MudText>

                <MudText Class="mb-6">
                    Via Afrejd-kundwebben rapporteras alla beställningar, lagerstatus, meddelanden från systemet och mycket mer. 
                    Varje användare kan ställa in vad som visas i instrumentpanelen, och när och vad som rapporteras. Rapporten kan skickas via e-post, SMS eller direkt i meddelandefönstret på kundwebben.
                </MudText>

                <h3>Kampanjsystem med större flexibilitet för butiker</h3>
                <MudText Class="mb-6">
                    Afrejd levererar logistiksystem till både små och stora företag. Större kunder, som multibutikskedjor, behöver ofta skräddarsydda reklamsystem. 
                    Detta förenklar beställningsprocessen och ger större flexibilitet för användarna internt. På så sätt kan du ta hand om det du är bra på, samtidigt som vi tar hand om det tekniska och optimerar efter dina behov.
                </MudText>

                <h3>Sömlös och smidig för att ändra logistiksystem och lager</h3>
                <MudText Class="mb-6">
                    Det är lättare än du tror att flytta lager och byta logistiksystem. Du får full översikt med ett enkelt användargränssnitt, och det finns inte mycket arbete att byta. 
                    Afrejd har integrationer mot de allra flesta större betalningslösningar. Vi utvecklar systemen för olika marknadsföringsplattformar, onlinebutiker och sociala medier på kundens begäran, och vi levererar hela paketet. 
                    Som kund går det sömlöst när vi levererar både det fysiska och det tekniska. Skicka varorna till oss så sköter vi resten.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <MudPaper Elevation="0" Width="100%" Height="auto" Outlined="false" Class="d-flex flex-column flex-md-row align-items-center justify-content-center pa-6 gap-4" style="background-color: #363732;">

        <MudStack Class="ma-6 text-center align-items-center justify-content-center">
            <MudText Style="font-size: 2em; color: white;">
                Vi kan hjälpa dig med alla aspekter av logistik.
            </MudText>

            <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="products-button">
                Våra tjänster
            </MudButton>
        </MudStack>

        <MudStack Class="d-flex flex-wrap justify-content-center gap-2" Style="width: 100%; max-width: 600px;">
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Rådgivning&Försäljning">Rådgivning & Försäljning</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/IT&Tech">IT & Tech</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Webbutik&Prenumeration">Webbutik & Prenumeration</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Varulager">Varulager</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Förpackning">Förpackning av varor</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Lagerhanterings-system">Lagerhanterings-system</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kundtjänst">Kundtjänst</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Retur">Retur av varor</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Kampanjförpackning">Kampanjförpackning</MudButton>
            <MudButton Variant="Variant.Text" Class="product-buttons" Href="/Distribution">Distribution</MudButton>
        </MudStack>
    </MudPaper>
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 6;

    private async Task AddItemToCart()
    {
        try
        {
            var userId = await CartService.GetUserId();
            await CartService.AddItemToCart(ProductId, userId);
            SuccessMessage = "Tjänsten har lagts till i varukorgen!";
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}