@page "/TestService"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@inject ICartService CartService
@rendermode InteractiveServer

<div class="input-group" id="AddToCartForm">
    <div class="input-group-append">
        <button class="btn btn-success" type="button" @onclick:preventDefault @onclick="AddItemToCart">Lägg i Varukorg</button>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @SuccessMessage
            </div>
        }
    </div>
</div>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 4;

    private async Task AddItemToCart()
    {
        try
        {
            var userId = await CartService.GetUserId();
            await CartService.AddItemToCart(ProductId, userId); 
            SuccessMessage = "Produkten har lagts till i varukorgen!";
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}
