@page "/Varulager"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Varulager</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Varulager
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock18.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Vi på Afrejd tar hand om dina varor med en äkta känsla av omsorg och engagemang. Genom att outsourca ditt lager och logistik till en modern 3PL-partner 
                    som Afrejd, med toppmoderna lager, kan ditt företag dra nytta av skalfördelar. Genom att dela kostnader relaterade till system, lagerutrymme, porto, frakt,
                    utrustning och personal med liknande företag kan vi erbjuda en kostnadseffektiv och hållbar logistiklösning. Det är vad vi kallar äkta logistikglädje - 
                    till gagn för dig, oss och planeten.
                </MudText>

                <MudText Class="mb-6">
                    Genom att låta oss sköta förpackning, lagring och logistik minskar du inte bara din egen tidsåtgång, utan också dina totala lager- och 
                    förpackningskostnader eftersom de delas med andra. Detta är ofta en mer hållbar lösning än att driva produktion och förpackning på egen hand eller att 
                    använda flera leverantörer. Hos oss kan du enkelt skala upp din verksamhet utan att behöva göra stora nya investeringar.
                </MudText>

                <h3>Optimerat Flöde av Varor Genom Effektiv Logistik</h3>
                <MudText Class="mb-6">
                    Vår expertis ligger inom logistik och hantering av de varor som vi har i vårt lager. Vi erbjuder skräddarsydda, säkra och effektiva logistiklösningar för 
                    ditt företag. Oavsett om det handlar om ompackning, omdistribution, montering av kampanjer med flera artiklar eller leverans av produkter på beställning, 
                    anpassar vi oss efter dina behov. Afrejd är en av de få logistikleverantörerna som erbjuder en komplett lösning, allt från förvaring till distribution, på 
                    ett och samma ställe.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 6;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}