@page "/Webbutik&Prenumeration"

@using Afrejd.Web.Data.Interfaces
@using Afrejd.Web.Data.Models
@using Afrejd.Web.Components.Layout
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Webbutik & Prenumeration</PageTitle>

<article>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class=" py-6">
        <MudPaper Outlined="true" Class="d-flex flex-column">
            <MudPaper Elevation="0" Width="100%" Class="d-flex flex-column flex-md-row justify-space-between pa-6">
                <MudStack Class="d-flex justify-start">
                    <h1 class="display-1">
                        Webbutik & <br />
                        Prenumeration
                    </h1>

                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Style="background-color: #363732; color: white; width:fit-content;" @onclick="AddItemToCart">
                        Lägg i Varukorg
                    </MudButton>

                    <div>
                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }
                    </div>
                </MudStack>
                <MudPaper Elevation=0 Class="d-flex justify-content-end">
                    <MudImage Fluid="true" Class="rounded-xl" Src="/Images/stock19.jpg"></MudImage>
                </MudPaper>
            </MudPaper>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudPaper Width="75%" Elevation=0 Style="margin:auto;">
                <MudText Class="mb-15" Style="font-size: 2em;">
                    Med Afrejd får din e-handelsbutik tillgång till en komplett lösning på ett och samma ställe. Afrejd Gruppen erbjuder en 360-graders värdekedja för din 
                    webbutik, inklusive strategi, rådgivning, lagerhantering, orderbehandling, logistik, integrationer, IT-lösningar, kundsupport och mycket mer.
                </MudText>

                <MudText Class="mb-6">
                    Afrejd är specialiserade på tredjepartslogistik för onlinebutiker och prenumerationskunder inom både B2C- och D2C-segmentet i Norden. Med en gedigen 
                    erfarenhet inom e-handel och prenumerationstjänster erbjuder Afrejd lösningar och plattformar som få andra leverantörer kan matcha.
                </MudText>

                <h3>Behöver du Bygga en Ny Webbutik?</h3>
                <MudText Class="mb-6">
                    Afrejd kan hjälpa dig att bygga en helt ny webbutik, från back-end-programmering till UX-design och varumärkesprofilering. Våra system kan integreras med 
                    de flesta onlinebutiker och inköpssystem i Sverige utan extra kostnad för våra kunder. Med starka IT- och teknikteam i Norge och Polen kan vi erbjuda 
                    fullständig drift och support.
                </MudText>

                <MudText Class="mb-6">
                    Vi kan även hjälpa till med att förnya och optimera din befintliga e-handelslösning för att möta dagens och framtidens behov. Vår expertis sträcker sig 
                    även till affärssystem och olika betalningslösningar för en smidigare och mer effektiv verksamhet.
                </MudText>

                <h3>Skala din Verksamhet Inom eller Utanför Sverige</h3>
                <MudText Class="mb-6">
                    Vi är din partner när det gäller att expandera din webbutik, både inom Sverige och internationellt. Afrejd har erfarenhet av att hjälpa svenska 
                    e-handelsföretag att växa på den europeiska marknaden, vilket innebär att vi kan anpassa och skalera din verksamhet utan att påverka ledtiderna för 
                    orderhantering.
                </MudText>

                <MudText Class="mb-6">
                    Oavsett om din webbutik behöver växa inom Sverige eller internationellt, har Afrejd de tjänster och lösningar som krävs för att effektivt hantera din 
                    tillväxt. Vi erbjuder allt från pallförvaring till plockhyllor och skräddarsydda lagerlösningar, allt baserat på dina behov. Med hög säkerhet och 
                    strategiskt placerade lagerlokaler i Malmö, Stockholm och Göteborg kan vi effektivt distribuera dina varor över hela Europa.
                </MudText>

                <h3>Prenumeration är Framtiden för E-handel</h3>
                <MudText Class="mb-6">
                    Framtiden för e-handel ligger i prenumerationstjänster. Afrejd är specialister på prenumerationstjänster och utveckling av prenumerationslösningar och 
                    system. Med ett dedikerat handelshotell för förpackning av alla typer av prenumerationsprodukter erbjuder vi inte bara smidiga leveranser utan också 
                    viktig försäljningsstatistik och kundsupport för att maximera din försäljning och kundtillfredsställelse.
                </MudText>

                <h3>Vad innebär ett Prenumerationssystem?</h3>
                <MudText Class="mb-6">
                    Ett prenumerationssystem är ett upprepande ordersystem som kan vara likformigt eller varierande. Vårt flexibla prenumerationssystem stödjer de flesta 
                    online-detaljhandelslösningar på marknaden idag. Det kan omfatta allt från hälsokost till kosmetika och erbjuder enkel hantering av olika leveransbehov 
                    baserat på kundens preferenser. Med vårt prenumerationssystem kan du skräddarsy erbjudanden och leveransscheman för att passa varje kunds unika behov och 
                    preferenser.
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudContainer>

    <ServicesPanel />
</article>


@code {
    private string SuccessMessage;
    private string ErrorMessage;
    private int ProductId = 7;

    private async Task AddItemToCart()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = await CartService.GetUserId();
                await CartService.AddItemToCart(ProductId, userId);
                SuccessMessage = "Tjänsten har lagts till i varukorgen!";
            }
            else
            {
                NavigationManager.NavigateTo("Account/Register");
            }
        }
        catch (ArgumentException ex)
        {
            ErrorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred while adding the product to the cart: {ex.Message}";
        }
    }
}